<a href="https://colab.research.google.com/github/unt-iialab/UNT-INFO5717-Fall2019/blob/master/Lesson%202/Lesson_two.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This file give some examples for Lesson 2

# Execute Python Syntax
print("Hello, World!")
Hello, World!

C:\Users\Your Name>python myfile.py

In [1]:
# Python Indentations: Where in other programming languages the indentation in code is for readability only, in Python the indentation is very important. Python uses indentation to indicate a block of code.
if 5 > 2:
  print("Five is greater than two!")
if(7<2):
  print("Seven is not greater than 2? false")
else: 
  print("Ok, 7>2")

Five is greater than two!
Ok, 7>2

(1) Python Variables: integer, floats, booleans, strings

In [0]:
### Define variables
x = 5
y = "John"
z = 1000.0
m = True
print(x)
print(type(x))
print(y)
print(type(y))
print(z)
print(type(z))
print(m)
print(type(m))

5
<class 'int'>
John
<class 'str'>
1000.0
<class 'float'>
True
<class 'bool'>

In [0]:
x = 4 # x is of type int
print(type(x))
x = "Sally" # x is now of type str
print(x)
print(type(x))

<class 'int'>
Sally
<class 'str'>

In [0]:
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

John
John

# **Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

Assign Value to Multiple Variables

In [0]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

print("--------------------------")
a = b = c = "Orange"
print(a)
print(b)
print(c)

Orange
Banana
Cherry
--------------------------
Orange
Orange
Orange

# Python Numbers
There are three numeric types in Python:

*   int
*   float
*   complex

Variables of numeric types are created when you assign a value to them:

In [0]:
# Example 1:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

print("-------------------------------------")


# Example 2:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

print("-------------------------------------")

# Example 3:


x = 1.10
y = 12E4
z = -35.59

print(type(x))
print(type(y))
print(type(z))

print("-------------------------------------")

# Example 4:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>
-------------------------------------
<class 'int'>
<class 'int'>
<class 'int'>
-------------------------------------
<class 'float'>
<class 'float'>
<class 'float'>
-------------------------------------
<class 'complex'>
<class 'complex'>
<class 'complex'>

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

In [0]:
# Convert from one type to another:

x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

# Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [0]:
# Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1,10))

4

# Python Strings
String literals in python are surrounded by either single quotation marks, or double quotation marks.
'hello' is the same as "hello".

In [0]:
# Example 1
# Assign String to a Variable: Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

a = "Hello"
print(a)

# Example 2
# Multiline Strings: assign a multiline string to a variable by using three quotes (three double quotes or three single quotes)
b= """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(b)
c= '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(c)

Hello
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays

In [0]:
# Example 3
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello, World!"
print(a[1])

print("-------------------------------------")
 
# Example 4
# Substring. Get the characters from position 2 to position 5 (not included):
b = "Hello, World!"
print(b[2:5])

print("-------------------------------------")


# Example 5
# The strip() method removes any whitespace from the beginning or the end:
c = " Hello, World! "
print(c.strip()) # returns "Hello, World!"

print("-------------------------------------")


# Example 6
# The len() method returns the length of a string:

d = " Hello, World! "
print(a.strip()) # returns "Hello, World!"
print("-------------------------------------")


# Example 6
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

e
-------------------------------------
llo
-------------------------------------
Hello, World!
-------------------------------------
Hello, World!
-------------------------------------
hello, world!

# Python Functions
In the context of programming, a function is a named sequence of statements that performs a computation. When you define a function, you specify the name and the sequence of statements. Later, you can “call” the function by name.

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [0]:
# Example 1: Creating a Function
# In Python a function is defined using the def keyword:

def my_function_1():
  print("Hello from a function")
  print("-------------------------------------")
  

# Example 2: Calling a Function
# To call a function, use the function name followed by parenthesis:

def my_function_2():
  print("Hello from a function")
  print("*************************************")

my_function_2()


# Example 3: Parameters
# Parameters are specified after the function name, inside the parentheses. You can add as many parameters as you want, just separate them with a comma:

def my_function_3(fname):
  print(fname + " Refsnes")

my_function_3("Emil")
my_function_3("Tobias")
my_function_3("Linus")


# Example 4: Default Parameter Value
# If we call the function without parameter, it uses the default value:

def my_function_4(country = "Norway"):
  print("I am from " + country)

my_function_4("Sweden")
my_function_4("India")
my_function_4()
my_function_4("Brazil")


# Example 5: Passing a List as a Parameter
# You can send any data types of parameter to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

def my_function_5(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function_5(fruits)

# Example 6: Return Values
# To let a function return a value, use the return statement:

def my_function_6(x):
  return 5 * x

print(my_function_6(3))
print(my_function_6(5))
print(my_function_6(9))


# Example 7: Keyword Arguments
# You can also send arguments with the key = value syntax. This way the order of the arguments does not matter.

def my_function_7(child3, child2, child1):
  print("The youngest child is " + child3)

my_function_7(child1 = "Emil", child2 = "Tobias", child3 = "Linus")


# Example 8: Arbitrary Arguments
# If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

def my_function_8(*kids):
  print("The youngest child is " + kids[2])

my_function_8("Emil", "Tobias", "Linus")


# Example 9: Recursion

def tri_recursion(k):
  if(k>0):
    result = k+tri_recursion(k-1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Hello from a function
*************************************
Emil Refsnes
Tobias Refsnes
Linus Refsnes
I am from Sweden
I am from India
I am from Norway
I am from Brazil
apple
banana
cherry
15
25
45

# Three common ways to use python functions


1. Python Built-in Functions:

https://docs.python.org/3/library/functions.html


2. Python libraries:

20 Python libraries you can’t live without

https://pythontips.com/2013/07/30/20-python-libraries-you-cant-live-without/


3. Define the functions by yourself.

# Python I/O
There are several different ways of handling input/output.

In [0]:
# Example 1: Keyboard Input and Output

# Store input numbers
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
# Add two numbers
sum = float(num1) + float(num2)
# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 34
Enter second number: 35
The sum of 34 and 35 is 69.0

In [0]:
# Example 2: Opening and Closing Files

# Open a file
fo = open("california_housing_test.csv", "wb")
print ("Name of the file: ", fo.name)
print ("Closed or not : ", fo.closed)
print ("Opening mode : ", fo.mode)

# Close opend file
fo.close()

Name of the file:  california_housing_test.csv
Closed or not :  False
Opening mode :  wb

In [0]:
# Example 3: Writing into a file

# Open a file
fo = open("foo.txt", "w")
fo.write( "Python is a great language.\nYeah its great!!\n")

# Close opend file
fo.close()


# Python is a great language. and Yeah its great!! will be written in foo.txt

# **Excise for assignent one (Exercise 8-5):**

A Caesar cypher is a weak form of encryption that involves “rotating” each letter by a fixed number of places. To rotate a letter means to shift it through the alphabet, wrapping around to the beginning if necessary, so ’A’ rotated by 3 is ’D’ and ’Z’ rotated by 1 is ’A’.

To rotate a word, rotate each letter by the same amount. For example, “cheer” rotated by 7 is “jolly” and “melon” rotated by -10 is “cubed”. In the movie 2001: A Space Odyssey, the ship computer is called HAL, which is IBM rotated by -1.

Write a function called rotate_word that takes a string and an integer as parameters, and returns a new string that contains the letters from the original string rotated by the given amount.

You might want to use the built-in function ord, which converts a character to a numeric code, and chr, which converts numeric codes to characters. Letters of the alphabet are encoded in alphabetical order, so for example:

\>>>ord('c') - ord('a')

2

Because 'c' is the two-eth letter of the alphabet. But beware: the numeric codes for upper case letters are different.

Potentially offensive jokes on the Internet are sometimes encoded in ROT13, which is a Caesar cypher with rotation 13. If you are not easily offended, find and decode some of them.

**Solution:**
http://thinkpython2.com/code/rotate.py.

In [0]:
"""This module contains a code example related to

Think Python, 2nd Edition
by Allen Downey
http://thinkpython2.com

Copyright 2015 Allen Downey

License: http://creativecommons.org/licenses/by/4.0/
"""

from __future__ import print_function, division


def rotate_letter(letter, n):
    """Rotates a letter by n places.  Does not change other chars.

    letter: single-letter string
    n: int

    Returns: single-letter string
    """
    if letter.isupper():
        start = ord('A')
    elif letter.islower():
        start = ord('a')
    else:
        return letter

    c = ord(letter) - start
    i = (c + n) % 26 + start
    return chr(i)


def rotate_word(word, n):
    """Rotates a word by n places.

    word: string
    n: integer

    Returns: string
    """
    res = ''
    for letter in word:
        res += rotate_letter(letter, n)
    return res


if __name__ == '__main__':
    print(rotate_word('cheer', 7))
    print(rotate_word('melon', -10))
    print(rotate_word('sleep', 9))

jolly
cubed
bunny